 .u-section-1 {
  min-height: 765px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 50px;
}

.u-section-1 .u-image-1 {
  min-height: 625px;
  background-image: url("images/IMG_5015-1.jpg");
  background-position: 27.54% 42.18%;
  background-size: 115%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-1 .u-group-1 {
  min-height: 154px;
  width: 475px;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 38px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 44px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 655px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 652px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 592px;
    background-position: 32.21% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-group-1 {
    width: 420px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 999px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 70px;
  }

  .u-section-1 .u-image-1 {
    min-height: 544px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 705px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 662px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-2 .u-line-1 {
  height: 748px;
  left: auto;
  top: 76px;
  position: absolute;
  width: 3px;
  transform-origin: center top 0px;
  border-style: solid;
  right: 513px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 38px auto 0 250px;
}

.u-section-2 .u-text-3 {
  text-align: start;
  margin: -39px 129px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 46px 725px 0 -31px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -45px auto 0 520px;
}

.u-section-2 .u-image-1 {
  width: 168px;
  height: 43px;
  margin: 52px auto 0 441px;
}

.u-section-2 .u-text-6 {
  margin: -39px auto 0 57px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  text-align: start;
  margin: 0 -519px 0 807px;
}

.u-section-2 .u-text-8 {
  text-align: start;
  font-weight: 700;
  margin: -25px 446px 0 auto;
}

.u-section-2 .u-text-9 {
  text-align: start;
  margin: -10px 701px 0 81px;
}

.u-section-2 .u-image-2 {
  width: 168px;
  height: 38px;
  margin: -66px auto 0 436px;
}

.u-section-2 .u-image-3 {
  width: 159px;
  height: 58px;
  margin: -27px 333px 0 auto;
}

.u-section-2 .u-text-10 {
  text-align: start;
  margin: -40px -19px 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  text-align: start;
  margin: 32px 691px 0 2px;
}

.u-section-2 .u-text-12 {
  text-align: start;
  font-weight: 700;
  margin: -44px auto 0 520px;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  text-align: start;
  margin: -21px -519px 0 807px;
}

.u-section-2 .u-text-14 {
  text-align: start;
  font-weight: 700;
  margin: -18px 446px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 134px;
  height: 70px;
  margin: 15px 358px 0 auto;
}

.u-section-2 .u-text-15 {
  text-align: start;
  margin: -66px 139px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 168px;
  height: 62px;
  margin: -4px auto 0 441px;
}

.u-section-2 .u-text-16 {
  text-align: start;
  margin: -56px auto 0 87px;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  text-align: start;
  margin: 8px -519px 0 807px;
}

.u-section-2 .u-text-18 {
  text-align: start;
  font-weight: 700;
  margin: -21px 404px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 72px;
  height: 75px;
  margin: 14px 415px 0 auto;
}

.u-section-2 .u-text-19 {
  text-align: start;
  margin: -67px 26px 0 auto;
}

.u-section-2 .u-text-20 {
  font-weight: 400;
  text-align: start;
  margin: -17px 689px 0 25px;
}

.u-section-2 .u-text-21 {
  text-align: start;
  font-weight: 700;
  margin: -22px auto 0 520px;
}

.u-section-2 .u-image-7 {
  width: 151px;
  height: 151px;
  margin: -14px auto 0 487px;
}

.u-section-2 .u-text-22 {
  text-align: start;
  margin: -110px auto 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -88px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 52px;
    margin-right: 625px;
    margin-left: 199px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -113px;
    margin-left: 429px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -27px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -295px;
    margin-left: 707px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 368px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 287px;
    margin-right: 582px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -67px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -323px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 122px;
    margin-right: 493px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 157px;
    margin-left: 429px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -103px;
    margin-left: 707px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 368px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -134px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 105px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 49px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -275px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 198px;
    margin-left: 707px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 333px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -301px;
  }

  .u-section-2 .u-text-20 {
    margin-top: -23px;
    margin-right: 514px;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-top: -21px;
    margin-left: 429px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -126px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 1595px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1557px;
    margin-left: 191px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 515px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 329px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 282px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 362px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 273px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 329px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 282px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 255px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 294px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 329px;
  }

  .u-section-2 .u-text-22 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 1628px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1590px;
    margin-left: 143px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 425px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -84px;
    margin-left: 247px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 372px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -291px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 212px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 283px;
    margin-right: 182px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 372px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -319px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 93px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 153px;
    margin-left: 247px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 212px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 372px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -271px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 194px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 191px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -297px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 114px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 247px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 1748px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1710px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 81px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 325px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -113px;
    margin-left: 156px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 69px;
    margin-left: 172px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -53px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -239px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 133px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 230px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -65px;
    margin-left: 172px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -243px;
    margin-right: 181px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -66px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 146px;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 22px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 133px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -159px;
    margin-right: 206px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 131px;
    margin-right: 88px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 172px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -167px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 93px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 120px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -28px;
    margin-right: 268px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -193px;
  }

  .u-section-2 .u-text-20 {
    margin-top: -77px;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-top: -50px;
    margin-left: 156px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 15px;
    margin-left: 189px;
  }
}